<h2 class="text-center text-light p-2">جدول الوجبات</h2>
<a class="text-white p-2 fs-5 pe-3  me-2 rounded col-md-2 btn btn-primary"
[routerLink]="['AddUpdateShippingBatch', { params: param }]">
    إضافة وجبة جديدة
  </a>

<div style="height: 60vh; overflow-y: auto;">
    <table class="table table-hover text-center mt-4" style="border-radius: 10px; overflow: hidden; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <thead style="background-color: #f3a808; color: white;">
            <tr>
                <th style="width: 20%;">تعديلات</th>
                <th>ملاحظات</th>
                <th>عدد الإيصالات</th>
                <th>اجمالي المبيع</th>
                <th>التكلفة بالدولار</th>
                <th>تاريخ وصول الشحنة</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ships of ShippingBatches; let i = index" class="align-middle" 
                [class.table-primary]="i % 2 === 0" 
                [class.table-light]="i % 2 !== 0">
                <td>
                    <button [routerLink]="['AddUpdateShippingBatch', ships.shippingBatchId]" class="btn btn-sm btn-primary me-2">
                        <i class="fas fa-edit"></i>
                    </button>                
                    <!-- <button (click)="DeleteBatch(ships.shippingBatchId)" class="btn btn-sm btn-danger">
                        <i class="fas fa-trash"></i>
                    </button> -->
                    <button class="btn btn-sm btn-danger" (click)="openPopup(ships.shippingBatchId)"><i class="fas fa-trash"></i></button>
                    <div class="overlay position-fixed w-100 h-100 top-0 start-0 bg-dark bg-opacity-50" *ngIf="showPopup" (click)="closePopup()"></div>
    <!-- إظهار البو بب -->
                    <div class="popup position-fixed top-50 start-50 translate-middle bg-white p-4 rounded shadow-lg" *ngIf="showPopup" style="max-width: 400px; z-index: 1050;">
                      <h2 class="h5 mb-3 text-center">{{PopTitle}}</h2>
                      <p class="mb-4">{{popDesc}}</p>
                      <div class="text-center">
                          <button class="btn btn-danger me-3" (click)="DeleteBatch(selectIdForDelete)" >حذف</button>
                        <button class="btn btn-primary" (click)="closePopup()">إلغاء</button>
                      </div>
                    </div>
    
                    <!-- نهاية البو بب -->
                </td>



                <td (click)="goToAddRecipt(ships.shippingBatchId)" class="fw-bold text-success">{{ ships.notes }}</td> 
                <td (click)="goToAddRecipt(ships.shippingBatchId)" class="fw-bold text-success">{{ ships.reciptsNu}}</td> 
                <td (click)="goToAddRecipt(ships.shippingBatchId)" class="fw-bold text-success">{{ ships.sellingIQ }}</td> 




                <td class="fw-bold text-success">
                    {{ ships.batchCostUS ? ships.batchCostUS + '$' : '' }}
                  </td>
                  
                <td (click)="goToAddRecipt(ships.shippingBatchId)" class="fw-bold text-success">{{ ships.arrivelDate | date: 'yyyy-MM-dd' }}</td> 
            </tr>
        </tbody>
    </table>
</div>


<!-- (click)="DeleteType(ship.shippingBatchId)" -->

<div class="popup position-fixed top-50 start-50 translate-middle bg-white p-4 rounded shadow-lg" *ngIf="showPopupDeleteConfirm" style="max-width: 400px; z-index: 1050;">
    <h2 class="h5 mb-3 text-center"></h2>
    <p class="mb-4">{{popDesc}}</p>
    <div class="text-center">
      <button class="btn btn-primary" (click)="closePopup()">موافق</button>
    </div>
  </div>