<div class="container ee">

  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">

          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>

            <div class="col-lg-6">
              <div class="p-5">

                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">عين الفهد للشحن</h1>
                </div>

                <form (submit)="onSubmit()" class="user">

                  <div class="form-group">
                    <input id="email"
                           type="email"
                           placeholder="أدخل بريدك الإلكتروني"
                           [(ngModel)]="email"
                           name="email"
                           required
                           class="form-control form-control-user">
                  </div>

                  <div class="form-group">
                    <input id="password"
                           type="password"
                           placeholder="أدخل كلمة المرور"
                           [(ngModel)]="password"
                           name="password"
                           required
                           class="form-control form-control-user">
                  </div>

                  <button type="submit"
                          [disabled]="loading"
                          class="btn btn-primary btn-user btn-block">
                    تسجيل الدخول
                  </button>

                </form>

                <div class="text-center mt-3">
                  <a class="small" routerLink="/register">إنشاء حساب جديد</a>
                </div>

              </div>
            </div>

          </div>

        </div>
      </div>

    </div>

  </div>

</div>
