.checkboxCss {
    height: 20px;
    width: 20px;
}

.h2Css {
    color: aquamarine;
}

.suggestions-list {
    position: absolute;
    top: 100%;
    left: 30%;
    width: 20%;
    z-index: 1000;
    background-color: white;

}