.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input {
    padding: 10px;
    width: 200px;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #007bff;
}

button {
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin: 5px;
    transition: 0.3s;
}

button:hover {
    background: #e90449;
}

.card {
    background: #ced0d3;
}