.table-container {
    margin: 20px auto;
    max-width: 90%;
    overflow-x: auto;
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  li {
    list-style: none;
    padding: 0; 
    margin: 0;
}
  
  .custom-table thead {
    background-color: #4CAF50;
    color: white;
    text-align: left;
  }
  
  .custom-table th,
  .custom-table td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .custom-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .custom-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .btn {
    padding: 5px 10px;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .btn-view {
    background-color: #007BFF;
    color: white;
  }
  
  .btn-edit {
    background-color: #FFC107;
    color: white;
  }
  
  .btn-delete {
    background-color: #DC3545;
    color: white;
  }
  
  .bgNav {
    background-color: #6b705c;
    color: white;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  
  .sidebar.collapsed {
    transform: translateX(-100%);
  }
  
  .bggold {
    background: #495867;
  
  }
  
  .bggray {
    background: #1e2d2f;
  
  }
  
  .bgSlider {
    background: #6b705c;
  
  }
  
  
  .bgbody {
    height: 100vh;
    background: #502c3e;
    overflow-y: auto;
  }

  .active {
    color: red;
  }
  .btn-primary1 {
    background-color: #4c0163;
    border-color: #007bff;
  }
  
  .btn-info1 {
    background-color: #794fbb;
    border-color: #17a2b8;
  }
  
  