<nav class="navbar navbar-expand-lg bggray p-2">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="d-flex justify-content-around col-md-12">

        <div class="bg-light rounded m-1 p-2 fw-bold col-md-1">
          Env:  {{ env }}
        </div>
        <div class="collapse navbar-collapse d-flex justify-content-end m-1 col-md-11" id="navbarNav">
          <div class="navbar-nav d-flex flex-start">
            <!-- <li class="nav-item">
              <a class="nav-link btn btn-info" routerLink="Orders" routerLinkActive="active">الطلبات</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-info" routerLink="Customers" routerLinkActive="active">العملاء</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-info" routerLink="SearchCustomer" routerLinkActive="active">بحث عن عميل</a>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link btn btn-info text-white p-2 fs-5 pe-3 bgNav me-2 rounded" routerLink="last5recipts">
                عرض آخر 5 إيصالات
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-info text-white p-2 fs-5 pe-3 bgNav me-2 rounded" routerLink="ShippingTypes">
                أنواع الشحن
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-info text-white p-2 fs-5 pe-3 bgNav me-2 rounded" routerLink="ShippingBatch">
                الوجبات
              </a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link btn btn-info text-white p-2 fs-5 pe-3 bgNav me-2 rounded"
              routerLink="MainScreenForDelevary"
              [ngClass]="{'btn-primary1': activeButton === 'Delevary', 'btn-info1': activeButton !== 'Delevary'}"
               (click)="showSideBar('Delevary')">
                توصيل
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-info text-white p-2 fs-5 pe-3 bgNav me-2 rounded"
              [ngClass]="{'btn-primary1': activeButton === 'Store', 'btn-info1': activeButton !== 'Store'}"
              routerLink="MainScreenForStore"
               (click)="showSideBar('Store')">
                مخزن
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-info text-white p-2 fs-5 pe-3 bgNav me-2 rounded"
              [ngClass]="{'btn-primary1': activeButton === 'SeaShipping', 'btn-info1': activeButton !== 'SeaShipping'}"
              routerLink="MainScreenForSea"
               (click)="showSideBar('SeaShipping')">
                شحن بحري
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-info text-white p-2 fs-5 pe-3 bgNav me-2 rounded"
              [ngClass]="{'btn-primary1': activeButton === 'AirShipping', 'btn-info1': activeButton !== 'AirShipping'}"
              routerLink="MainScreenForAir"
               (click)="showSideBar('AirShipping')">
                شحن جوي
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-info text-white p-2 fs-5 pe-3 bgNav me-2 rounded"
              [ngClass]="{'btn-primary1': activeButton === 'MainScreen', 'btn-info1': activeButton !== 'MainScreen'}"
              routerLink="MainScreenForMain"
               (click)="showSideBar('MainScreen')">
                الرئيسية
              </a>
            </li>
          </div>
        </div>
      </div>
      </div>
  </nav>
  
  
  <div class="row d-flex col-md-12">
  
    <div class="col-md-10 p-4 bgbody">
      <router-outlet></router-outlet>
    </div>
  
    <!-- Sidebar MainScreen-->
    <div class="sidebar col-md-2 bgSlider text-white p-3" style="height: 91vh;"
     [ngClass]=" {'collapsed': isCollapsed}" *ngIf="selectSideBar === 'MainScreen'">
      <h2 class="text-center"><i class="fas fa-home"></i>
      </h2>
      <ul class="list-unstyled mt-5">
        <!-- <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" routerLink="SearchCustomer"
            routerLinkActive="active">
            بحث عن عميل <span>&ThinSpace;</span><i class="fas fa-search"></i>
          </a>
        </li>
        <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 " routerLink="AddServiceForCustomer"
            routerLinkActive="active">
            إضافة خدمة لعميل <span>&ThinSpace;</span><i class="fas fa-search"></i>
          </a>
        </li> -->


        <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" 
            routerLinkActive="active">
             الرئيسية<span>&ThinSpace;</span>
          </a>
        </li>
        <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" routerLink="SearchCustomer"
            routerLinkActive="active">
             الزبائن<span>&ThinSpace;</span>
          </a>
        </li>
        <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" 
            routerLinkActive="active">
             تتبع <span>&ThinSpace;</span>
          </a>
        </li>
        <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" 
            routerLinkActive="active">
              الحسابات <span>&ThinSpace;</span>
          </a>
        </li>
        <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" 
            routerLinkActive="active">
              المستخدمين <span>&ThinSpace;</span>
          </a>
        </li>
        <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" 
            routerLinkActive="active">
              اكواد She In <span>&ThinSpace;</span> 
          </a>
        </li>
        <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" 
            routerLinkActive="active">
              الصفحات <span>&ThinSpace;</span> 
          </a>
        </li>
      </ul>
    </div>

    <!-- Sidebar Air -->
    <div class="sidebar col-md-2 bgSlider text-white p-3" 
      style="height: 94vh;" [ngClass]=" {'collapsed': isCollapsed}" *ngIf="selectSideBar === 'AirShipping'">
      <h2 class="text-center"><i class="fas fa-home"></i>
      </h2>
      <ul class="list-unstyled mt-5">
        <!-- <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" routerLink="SearchCustomer"
            routerLinkActive="active">
            بحث عن عميل <span>&ThinSpace;</span><i class="fas fa-search"></i>
          </a>
        </li>
        <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 " routerLink="AddServiceForCustomer"
            routerLinkActive="active">
            إضافة خدمة لعميل <span>&ThinSpace;</span><i class="fas fa-search"></i>
          </a>
        </li> -->


        <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" 
            routerLinkActive="active" routerLink="Recipts">
              عمليات الدفع <span>&ThinSpace;</span>
          </a>
        </li>
        <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" 
            routerLinkActive="active" routerLink="ShippingBatch">
             الوجبات والإيصالات<span>&ThinSpace;</span>
          </a>
        </li>
        <!-- 
        <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" 
            routerLinkActive="active">
             تتبع <span>&ThinSpace;</span>
          </a>
        </li>
        <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2"
            routerLinkActive="active">
              الحسابات <span>&ThinSpace;</span>
          </a>
        </li>
        <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" 
            routerLinkActive="active">
              المستخدمين <span>&ThinSpace;</span>
          </a>
        </li> -->
      </ul>
    </div>


    <!-- Sidebar Sea -->
    <div class="sidebar col-md-2 bgSlider text-white p-3" 
      style="height: 94vh;" [ngClass]=" {'collapsed': isCollapsed}" *ngIf="selectSideBar === 'SeaShipping'">
      <h2 class="text-center"><i class="fas fa-home"></i>
      </h2>
      <ul class="list-unstyled mt-5">
        <!-- <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" routerLink="SearchCustomer"
            routerLinkActive="active">
            بحث عن عميل <span>&ThinSpace;</span><i class="fas fa-search"></i>
          </a>
        </li>
        <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 " routerLink="AddServiceForCustomer"
            routerLinkActive="active">
            إضافة خدمة لعميل <span>&ThinSpace;</span><i class="fas fa-search"></i>
          </a>
        </li> -->


        <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" 
            routerLinkActive="active">
             الخيار الاول<span>&ThinSpace;</span>
          </a>
        </li>
        <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" 
            routerLinkActive="active">
             الزبائن<span>&ThinSpace;</span>
          </a>
        </li>
        <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" 
            routerLinkActive="active">
             تتبع <span>&ThinSpace;</span>
          </a>
        </li>
        <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" 
            routerLinkActive="active">
              الحسابات <span>&ThinSpace;</span>
          </a>
        </li>
        <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" 
            routerLinkActive="active">
              المستخدمين <span>&ThinSpace;</span>
          </a>
        </li>
        <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" 
            routerLinkActive="active">
              الخيار السادس <span>&ThinSpace;</span>
          </a>
        </li>
        <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" 
            routerLinkActive="active">
              الخيار  <span>&ThinSpace;</span>
          </a>
        </li>
      </ul>
    </div>

      <!-- Sidebar Store -->
      <div class="sidebar col-md-2 bgSlider text-white p-3" 
      style="height: 94vh;" [ngClass]=" {'collapsed': isCollapsed}" *ngIf="selectSideBar === 'Store'">
      <h2 class="text-center"><i class="fas fa-home"></i>
      </h2>
      <ul class="list-unstyled mt-5">
        <!-- <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" routerLink="SearchCustomer"
            routerLinkActive="active">
            بحث عن عميل <span>&ThinSpace;</span><i class="fas fa-search"></i>
          </a>
        </li>
        <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 " routerLink="AddServiceForCustomer"
            routerLinkActive="active">
            إضافة خدمة لعميل <span>&ThinSpace;</span><i class="fas fa-search"></i>
          </a>
        </li> -->


        <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" 
            routerLinkActive="active">
              الخيار الاول<span>&ThinSpace;</span>
          </a>
        </li>
        <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" 
            routerLinkActive="active">
              الزبائن<span>&ThinSpace;</span>
          </a>
        </li>
        <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" 
            routerLinkActive="active">
              تتبع <span>&ThinSpace;</span>
          </a>
        </li>
        <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" 
            routerLinkActive="active">
              الحسابات <span>&ThinSpace;</span>
          </a>
        </li>
        <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" 
            routerLinkActive="active">
              المستخدمين <span>&ThinSpace;</span>
          </a>
        </li>
        <li class="nav-item bggold rounded">
          <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" 
            routerLinkActive="active">
              الخيار السادس <span>&ThinSpace;</span>
          </a>
        </li>
      </ul>
    </div>

    <!-- Sidebar Delevary -->
    <div class="sidebar col-md-2 bgSlider text-white p-3" 
    style="height: 94vh;" [ngClass]=" {'collapsed': isCollapsed}" *ngIf="selectSideBar === 'Delevary'">
    <h2 class="text-center"><i class="fas fa-home"></i>
    </h2>
    <ul class="list-unstyled mt-5">
      <!-- <li class="nav-item bggold rounded">
        <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" routerLink="SearchCustomer"
          routerLinkActive="active">
          بحث عن عميل <span>&ThinSpace;</span><i class="fas fa-search"></i>
        </a>
      </li>
      <li class="nav-item bggold rounded">
        <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 " routerLink="AddServiceForCustomer"
          routerLinkActive="active">
          إضافة خدمة لعميل <span>&ThinSpace;</span><i class="fas fa-search"></i>
        </a>
      </li> -->


      <li class="nav-item bggold rounded">
        <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" 
          routerLinkActive="active">
           الخيار الاول<span>&ThinSpace;</span>
        </a>
      </li>
      <li class="nav-item bggold rounded">
        <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" 
          routerLinkActive="active">
           الزبائن<span>&ThinSpace;</span>
        </a>
      </li>
      <li class="nav-item bggold rounded">
        <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2"
          routerLinkActive="active">
           تتبع <span>&ThinSpace;</span>
        </a>
      </li>
      <li class="nav-item bggold rounded">
        <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2"
          routerLinkActive="active">
            الحسابات <span>&ThinSpace;</span>
        </a>
      </li>
      <li class="nav-item bggold rounded">
        <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" 
          routerLinkActive="active">
            المستخدمين <span>&ThinSpace;</span>
        </a>
      </li>
      <li class="nav-item bggold rounded">
        <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" 
          routerLinkActive="active">
             1111 الخيار <span>&ThinSpace;</span>
        </a>
      </li>
      <li class="nav-item bggold rounded">
        <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2"
          routerLinkActive="active">
            الخيار  <span>&ThinSpace;</span>
        </a>
      </li>
    </ul>
  </div>

  </div>