
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">إدارة الإيصالات</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link btn btn-info" routerLink="Orders" routerLinkActive="active">الطلبات</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-info" routerLink="Customers" routerLinkActive="active">العملاء</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-info" routerLink="SearchCustomer" routerLinkActive="active">بحث عن عميل</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
<div class="container-fluid">
    <div class="row">
      <!-- القسم الخاص بالجدول -->
      <div class="col-md-6">
        <h1 class="bg-light text-center p-4">جدول الإيصالات</h1>
        <div class="table-container">
          <table class="custom-table">
            <thead>
              <tr class="fw-bold text-center fs-3">
                <th>تاريخ الوصل</th>
                <th>عملة البيع</th>
                <th>سعر البيع</th>
                <th>العملة</th>
                <th>التكلفة</th>
                <th>الوزن</th>
                <th>اسم العميل</th>
                <th>#</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="fw-bold text-center fs-6"
                *ngFor="let receipt of recipts; let i = index"
              >
                <td>{{ receipt.recieptDate | date:'dd-MM-yyyy' }}</td>
                <td>{{ receipt.sellingCurrency }}</td>
                <td>{{ divideNum(receipt.sellingPrice) }}</td>
                <td>{{ receipt.currency }}</td>
                <td>{{ receipt.cost }}</td>
                <td>{{ receipt.weight }} Kg</td>
                <td>{{ receipt.customer?.custName || 'غير معروف' }}</td>
                <td>{{ receipt.recieptId }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  
      <div class="col-md-6">
            <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  