<nav class="navbar navbar-expand-lg bggray p-2">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- <li class="nav-item">
          <a class="nav-link btn btn-info" routerLink="Orders" routerLinkActive="active">الطلبات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-info" routerLink="Customers" routerLinkActive="active">العملاء</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-info" routerLink="SearchCustomer" routerLinkActive="active">بحث عن عميل</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link btn btn-info text-white p-2 fs-5 pe-3 bgNav me-2 rounded" routerLink="last5recipts">
            عرض آخر 5 إيصالات
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-info text-white p-2 fs-5 pe-3 bgNav me-2 rounded" routerLink="ShippingTypes">
            أنواع الشحن
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-info text-white p-2 fs-5 pe-3 bgNav me-2 rounded" routerLink="ShippingBatch">
            الوجبات
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>


<div class="row d-flex col-md-12">

  <div class="col-md-10 p-5 bgbody">
    <router-outlet></router-outlet>
  </div>

  <!-- Sidebar -->
  <div class="sidebar col-md-2 bgSlider text-white p-3" style="height: 94vh;" [ngClass]=" {'collapsed': isCollapsed}">
    <h2 class="text-center"><i class="fas fa-home"></i>
    </h2>
    <ul class="list-unstyled mt-5">
      <li class="nav-item bggold rounded">
        <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 mb-2" routerLink="SearchCustomer"
          routerLinkActive="active">
          بحث عن عميل <span>&ThinSpace;</span><i class="fas fa-search"></i>
        </a>
      </li>
      <li class="nav-item bggold rounded">
        <a class="nav-link btn btn-info text-end p-2 fs-5 pe-3 " routerLink="AddServiceForCustomer"
          routerLinkActive="active">
          إضافة خدمة لعميل <span>&ThinSpace;</span><i class="fas fa-search"></i>
        </a>
      </li>
    </ul>
  </div>
</div>