<div class="col-md-12">
    <h1 class="text-white text-center p-4">جدول الإيصالات</h1>
    <div class="table-container mt-5">
        <table class="custom-table">
            <thead>
                <tr class="fw-bold text-center fs-3">
                    <th>تاريخ الوصل</th>
                    <th>سعر البيع</th>
                    <th>التكلفة</th>
                    <th>الوزن</th>
                    <th>اسم العميل</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr class="fw-bold text-center bg-dark text-white fs-6" *ngFor="let receipt of recipts; let i = index">
                    <td>{{ receipt.recieptDate | date:'dd-MM-yyyy'}}</td>
                    <td>{{ divideNum(receipt.sellingPrice) }} IQ</td>
                    <td>{{ receipt.cost }} $</td>
                    <td>{{ receipt.weight }} Kg</td>
                    <td>{{ receipt.customer?.custName || 'غير معروف' }}</td>
                    <td>{{ receipt.recieptId }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>